body{
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f4f6f8;
}

h1{
    color: #333;
}

input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}

ul{
    margin-top: 20px;
    padding: 0;
}

li{
    list-style: none;
    background: white;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

    display:flex;
    justify-content:space-between;
    align-items:center;
}

li div button{
    margin-left:5px;
}
@media(max-width:600px){

    body{
        padding:15px;
    }

    li{
        flex-direction:column;
        align-items:flex-start;
    }

    li div{
        margin-top:8px;
    }

    input{
        width:100%;
        box-sizing:border-box;
    }

    button{
        margin-top:5px;
    }
}
/* ===== CHART DESIGN ===== */

.chart-box{
    width:100%;
    max-width:600px;
    height:300px;
    margin:20px auto;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

canvas{
    width:100% !important;
    height:100% !important;
}
/* ---- SELECT DROPDOWN STYLE ---- */

select{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}