body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#0f172a;
    color:white;
}

#loginBox{
    width:320px;
    margin:150px auto;
    padding:30px;
    background:#1e293b;
    border-radius:15px;
    text-align:center;
    box-shadow:0 20px 50px rgba(0,0,0,0.4);
}

#loginBox input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

#loginBox button{
    width:100%;
    padding:12px;
    background:#6366f1;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* LAYOUT */
.sidebar{
    width:220px;
    height:100vh;
    background:#1e293b;
    position:fixed;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar p{
    margin:15px 0;
    cursor:pointer;
    opacity:0.8;
}

.sidebar p:hover{
    opacity:1;
}

.main{
    margin-left:240px;
    padding:30px;
}

.topbar{
    margin-bottom:20px;
}

/* CARDS */
#cards{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:20px;
    flex:1;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.card b{
    font-size:26px;
}

/* CHART GRID */
.charts-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:30px;
}

.chart-box{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    height:300px;
}

.chart-box.full{
    grid-column:span 2;
}

/* FORM */
.form-box{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin-bottom:30px;
}

.form-box input,
.form-box select{
    padding:10px;
    margin:8px;
    border-radius:8px;
    border:none;
}

/* SEARCH */
.search-box{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.search-box input{
    padding:10px;
    border-radius:8px;
    border:none;
    width:70%;
}

button{
    padding:10px 15px;
    background:#6366f1;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* LIST */
ul{
    list-style:none;
    padding:0;
}

li{
    background:#1e293b;
    padding:15px;
    border-radius:15px;
    margin-bottom:15px;
}